
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID: </mat-header-cell>
        <mat-cell *matCellDef="let device"> {{device.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category: </mat-header-cell>
        <mat-cell *matCellDef="let device"> {{device.category}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color: </mat-header-cell>
        <mat-cell *matCellDef="let device"> {{device.color}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="partNumber">
        <mat-header-cell *matHeaderCellDef> PartNumber: </mat-header-cell>
        <mat-cell *matCellDef="let device"> {{device.partNumber}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </div>